<div class="user-details">
    <h1> My Expertise </h1>
    <p> {{site.user_description}} </p>
</div>
<div class="user">
    <div class="tech">
        <h2>Code</h2>
        <!-- C++ Icon -->
        <i class="devicon-cplusplus-plain colored"></i>
        <!-- Python Icon -->
        <i class="devicon-python-plain-wordmark colored"></i>
        <!-- Java Icon -->
        <i class="devicon-java-plain-wordmark colored"></i>
        <p>Python, C++, and Java.</p>
    </div>
    <div class="tech">
        <h2>Tools</h2>
        <i class="devicon-git-plain"></i>
        <p>Have experience using git</p>
    </div>
</div>
